#cookie-banner .alert {
  margin-bottom: 0;
}

#cookie-banner a {
  text-decoration: underline;
}

.saiba-mais {
  color: rgba(82, 198, 210, 1) !important; /* Alterar a cor do "Saiba mais" */
  font-weight: bold;
}

#cookie-banner button.custom-btn {
  background-color: rgba(82, 198, 210, 1) !important; /* Alterar a cor do botão */
  border: none;
  color: white;
  padding: 5px 15px; /* Diminuir o tamanho do botão */
  font-size: 14px;
  position: relative;
  z-index: 1; /* Garantir que o botão apareça à frente */
  margin-left: 15px; /* Colocar o botão à frente do texto */
}

#cookie-banner button.custom-btn:hover {
  background-color: rgba(82, 198, 210, 0.8); /* Efeito hover */
}