html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;

    background: #52c6d2;

}

.price-text {
    font-size: 150%;
}

a {
    text-decoration: none;
}

.arrow {
    margin-top: 50%;
}


.logo-image {
    width: 25%;
}

.image-container {
    text-align: center;
}

ul {
    list-style-type: none;
}

.menu-selector {
    width: 75%;
}

.item-title {
    margin-left: 5%;
}

.menu-image {
}

.footer {
    margin-bottom: 2%;

}

.row {
    display: block;
    justify-content: center;
}

.social-logos {
    width: 50px;
    height: 50px;
}

.copyright {
    font-size: 80%;
    color: white;
}

@media only screen and (min-width: 992px) {
  /* For desktop */
    .menu-selector {
        width: 50%;
    }

    .logo-image {
        width: 15%;
    }
}