body {
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-size: 300%;
    color: #49c4d0;
}

.capa {
    background-color: #49c4d0;
}

.footer {
    background-color: #49c4d0;
}

