html {
    scroll-behavior: smooth;
}

body {
    font-family: "Exo 2", sans-serif;
    background: linear-gradient(0deg, rgba(82,198,210,1) 0%, rgba(0,0,20,1) 100%);
}

.exo-2-1 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.fullscreen-video-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.fullscreen-video-container video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navbar {
    transition: background-color 0.5s ease-in-out; /* Adjust the duration */
}

.navbar-logo {
    width: 40%;
    transition: transform 0.5s ease-in-out, transform 0.5s ease-in-out 0.5s; /* Smooth transition for movement */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    opacity: 1;
}

.logo-fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.logo-top-left {
    width: 10%;
    left: 1rem;
    top: 1rem;
    transform: none; /* Adjust position after fading out */
    opacity: 1; /* Maintain invisibility after moving */
    transition: opacity 0.5s ease-in-out 0.5s;
}

.navbar-nav .nav-item .nav-link{
    color: white !important;
}

.navbar-toggler .navbar-toggler-icon {
    outline: none;
}

.navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.4); /* Adjust the opacity value */
}

.our-parties {
    color: #fff;
}

.offcanvas {
    background-color: transparent;
}

.offcanvas-body {
    background-color: transparent;
}

.offcanvas-header .btn-close {
    position: absolute;
    top: auto;  /* Remove the top positioning */
    bottom: 10px;  /* Position from the bottom */
    right: 50%;  /* Center horizontally */
    transform: translateX(50%);  /* Adjust the translation to center the button */
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(100%) contrast(100%);

}

.button-container {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.button-container button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.arrow-container {
    position: relative;
    margin-top: -15%;
    height: 20px; /* set the height of the container to the height you want the arrow to move */
}

.arrow {
    position: relative;
    top: -35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    animation: arrow-animation 2s infinite;
}

@keyframes arrow-animation {
    0% {
      transform: translate(-50%, -50%) translateY(0);
    }
    50% {
      transform: translate(-50%, -50%) translateY(-10px);
    }
    100% {
      transform: translate(-50%, -50%) translateY(0);
    }
}

.our-parties {
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.party-images {
    padding-left: 0%;
    padding-right: 0%;
}

.img-fluid {
    width: 80%;
}

.event-images {
    padding: 0%;
    margin: 0%;
}

a {
    text-decoration: none;
}

h1 {
    display: inline;
}

h2 {
    color: #fff;
    font-size: 1.0em;
}

h4 {
    color: #fff;
    font-size: 0.70em;
    font-weight: 200;
}

.overlay h3 {
    color: #fff;

}

.overlay h4 {
    color: #fff;
    font-size: 0.5em;
}

.overlay h5 {
    color: #fff;

}

.overlay {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

.overlay h4{
    font-family: Arboria-Book, sans-serif;
    color: white;
    font-size: 1em;
    font-weight: 700;
}

.overlay h5{
    font-family: Arboria-Book, sans-serif;
    color: white;
    font-size: 1em;
    font-weight: 700;
}

.image-container {
    position: relative;
}

.img-event {
    border-radius: 5px;
}

.btn-primary {
    padding-right: 10%;
    padding-left: 10%;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 15px;
}

.btn-primary:hover {
    background-color: transparent;
    color: white;
}

event-images {
    margin-top: 20%;
}

.menu-button {
    margin: 0;
    padding: 0;
}

.text {
    text-align: center;
}


.row-icons {
    display: block;
    justify-content: center;
}

.social-logos {
    width: 25px;
    height: 25px;
    transition: transform .2s; /* Animation */

}

.social-logos:hover {
    transform: scale(1.5);
}

.social-l {
    width: 30px;
    height: 30px;
    transition: transform .2s; /* Animation */

}

.social-l:hover {
    transform: scale(1.5);
}

.img-svg {
    width: 10%;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
.line {
    flex-grow: 1;
    border: none;
    border-top: 2px solid white;
    margin: 0 10px; /* Adjust the margin as needed */
  }
  
.logo-container img {
    max-width: 100%;
    height: auto;
  }

.footer-logo {
    width: 25%;
  }

.livro {
    width: 5em;
}

.copyright {
    font-size: 80%;
    color: white;
}

.col {
    padding: 0px;
    position: relative;
}

.footer {
    /* background-color: #2bb3c3; */
    margin-bottom: 2%;
}

@media only screen and (min-width: 992px) {
  /* For desktop */
    .arrow-container {
        position: relative;
        margin-top: -5%;
        height: 50px; /* set the height of the container to the height you want the arrow to move */
    }

    .button-container {
        position: absolute;
        bottom: 55%;
        left: 50%;
        transform: translate(-50%, 50%);
        margin-bottom: 3%;
    }
    /*.navbar-brand {*/
    /*    width: 25%;*/
    /*}*/

    .navbar-logo {
        width: 25%;
    }

    .logo-top-left {
        width: 3.5%;
    }

    .col {
        padding: 0px;
        position: relative;
    }


    h2 {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1em;
    }

    .images-container {
        margin-bottom: 10%;
    }

    .btn-primary {
        padding-right: 4%;
        padding-left: 4%;

    }

    .arrow {
        top: -70%;
    }

    .fullscreen-video-container {
        height: 100vh;
    }
    
    .button-container {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .button-container button {
        font-size: 2rem;
        padding: 0.5rem 1.5rem;
    }

    .footer-logo {
        width: 10%;
    }
}

