html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;

}

a {
    text-decoration: none;
}

h1 {
    display: inline;
}

h2 {
    color: #52c6d2;
    font-size: 0.8em;
}

h3 {
    color: #52c6d2;
}

h4 {
    color: #9f9f9f;
    font-size: 0.5em;
}

h5 {
    font-size: 250%;
    position: absolute;
    color: #000;
}

.images-container {
    position: relative;
    padding: 0;
    margin-bottom: 20%;
}

.carousel-item {
    position: relative;

}

.carousel-caption.right {
    text-align: center;
}

.carousel-caption.left {
    text-align: center;
}

.img-logo {
    width: 40%;
}

.home-images {
    width: 0%;
}


.btn-primary {
    padding-right: 10%;
    padding-left: 10%;
    background-color: #52c6d2;
    border-radius: 35px;
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: white;
    color: #52c6d2;
}

.menu-button {
    margin: 0;
    padding: 0;
}

.logo-container {
    background: linear-gradient(0deg, rgba(82,198,210,1) 0%, rgba(102,206,216,1) 100%);
}

.text {
    text-align: center;
}



.footer {
    background-color: #f2f2f2;
    margin-bottom: 2%;
}

.row-icons {
    display: block;
    justify-content: center;
}

.social-logos {
    width: 25px;
    height: 25px;
    transition: transform .2s; /* Animation */

}

.social-logos:hover {
  transform: scale(1.5);
}


.social-l {
    width: 45px;
    height: 45px;
    transition: transform .2s; /* Animation */

}

.social-l:hover {
  transform: scale(1.5);
}

.img-footer {
    z-index: 1000;
    width: 15%;
}

hr.hr--logo {
  border-top: solid #000 1px;
  margin: 50px 0;
}
hr.hr--logo:after {
  content: url( '../images/logo-f.jpeg' );
  /* Controls the position of the logo */
  left: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  /* Controls the whitespace around the symbol */
  padding: 20px;
}

.livro {
    width: 7em;
}

.copyright {
    font-size: 80%;
    color: white;
}

@media only screen and (min-width: 992px) {
  /* For desktop */
    .home-images {
        width: 50%;
    }

    .img-logo {
        width: 20%;
    }

    h2 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 0.8em;
    }

    .images-container {
        margin-bottom: 10%;
    }

    .home-images.left{
        margin-right: -3px;
    }

    .home-images.right{
        margin-left: -2px;
    }

    .btn-primary {
        padding-right: 4%;
        padding-left: 4%;

    }

    .carousel-caption.right {
        top: 20em;
        left: 80em;
    }
    
    .carousel-caption.left {
        top: 20em;
    }
}

